[package]
name = "message-sender"
version = "0.1.0"
edition = "2024"

[dependencies]
futures = "0.3.31"
image = "0.25.8"
qrcode = {version = "0.14.1", features = ["image"]}
presage = { git = "https://github.com/whisperfish/presage" }
presage-store-sqlite = { git = "https://github.com/whisperfish/presage" }
simplelog = "0.12.2"
log = "0.4.28"
serde = {version = "1.0.228", features = ["derive"]}
serde_json = "1.0.145"
anyhow = "1.0.100"

[dependencies.slint]
version = "1.14.1"
features = [
    "serde"
]

[dependencies.tokio]
version = "1.48.0"
features = [
    "rt",
    "rt-multi-thread",
    "net",
    "io-std",
    "time",
    "sync"
]

[build-dependencies]
slint-build = "1.14.1"

[patch.crates-io]
curve25519-dalek = { git = 'https://github.com/signalapp/curve25519-dalek', tag = 'signal-curve25519-4.1.3' }
